# eclipse project files
.settings/
.classpath
.project
*/bin
.idea/
*.iml
*.wpu
*.floo
*.flooignore
# maven build directories
target/

# mac files
*.DS_Store
*.sublime-*
web/src/main/webapp/js/controllers/Access Point Checks.md