<!doctype html>
<html lang="en" ng-app="managedWifi">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="//use.typekit.net/weu0tnb.js"></script>
    <script type="text/javascript">try{ Typekit.load(); } catch(e) { }</script>
    <title>WiFi Management- Jive</title>
    <link rel="stylesheet" href="lib/select2/select2.css">
    <link rel="stylesheet" href="css/jive.css">
    <link rel="stylesheet" href="css/managed-wifi.css">
</head>
<body class="loading">

<div ng-controller="NotificationController" class="waiting-notification" ng-cloak ng-show="alerts.length>0">
    <div ng-repeat="alert in alerts">
        <div class="notificationMessage"
             ng-class="alert.type=='success' ? 'success-example' : alert.type=='error' ? 'failure-example' : ''"
        >
            <i class="icon-remove" ng-click="closeAlert(alert)" ng-hide="alert.type=='processing'"></i>
            <i class="icon-spinner icon-spin" ng-show="alert.type=='processing'"></i>
            <i class="icon-ok" ng-show="alert.type=='success'"></i>
            <i class="icon-warning-sign" ng-show="alert.type=='error'"></i>
            {{alert.msg}}
        </div>
    </div>
</div>

<header ng-controller="MainMenuController">
    <nav class="navbar">
        <div class="navbar-inner">
        <div class="meta-menu">
                <ul class="nav pull-right" > <!-- ng-show="email"> -->
                    <!-- <li class="dropdown">
                        <a href="#" data-toggle="dropdown" class="dropdown-toggle"><i class="icon-user"></i><span ng-bind="firstName + ' ' + lastName" /></a>
                        <ul class="dropdown-menu pull-right user-menu">
                            <li class="user-account">
                            <a>
                                <img ng-src="https://www.gravatar.com/avatar/{{emailHash}}" alt="{{lastName}}" class="thumbnail pull-left media-object">

                                <div class="media-body">
                                    <h4 class="media-heading">{{firstName}} {{lastName}}</h4>
                                    <small>{{email}}</small>
                                </div>
                            </a>
                            </li>
                            <li class="divider"></li>
                            <div class="options">
                                <button ng-click="logout()" class="btn pull-right">Sign Out</button>
                            </div>
                        </ul>
                    </li> -->
                    <li class="dropdown help-command"><a ng-click="navigate('help')"><i class="icon-question-sign"></i></a></li>
                    <li>
                        <div class="logo"></div>
                    </li>
                </ul>
            </div>
            <ul class="nav">
                <li><a style="padding: 8px; font-size:23px;" ng-click="returnHome()"><i class="icon-home"></i></a></li>
                <li>
                    <div class="title"><i class="icon-signal"></i>WiFi</div>
                </li>
                <li class="brand" ng-bind="selectedSite.friendly_name" style="width:450px; text-align:left" ng-show="sites"></li>
                <li class="dropdown" ng-class="isActive('Settings')" ng-show="sites" style="float:right"><a ng-click="navigate('settings')" data-toggle="dropdown">Site Settings</a></li>
                <li class="dropdown" ng-class="isActive('Users')" ng-show="sites" style="float:right"><a ng-click="navigate('users')" data-toggle="dropdown">Connected User Devices</a></li>
                <li class="dropdown" ng-class="isActive('Devices')" ng-show="sites" style="float:right"><a  ng-click="navigate('devices')" data-toggle="dropdown">Access Points</a></li>
                <li class="dropdown" ng-class="isActive('Networks')" ng-show="sites" style="float:right"><a ng-click="navigate('networks')" data-toggle="dropdown">Wireless Networks</a></li>
            </ul>
        </div>
    </nav>
</header>

<div class="workspace" >
    <div class="content-container">
        <div class="content-wrapper">
            <div class="container-fluid">
                <div ng-view></div>
            </div>
        </div>
    </div>
    <div class="main-sidebar" ng-controller="MainMenuController">
        <div style="position: relative; width: 100%;">
            <h2 style="margin-left: 10px; float: left;">SITES</h2>
            <a href="#/newsite" class="btn btn-primary" style="margin: 14px 20px; float: right;">
                <i class="icon-plus"></i>
                Add Site</a>
        </div>
        <div class="no-select">
            <input ng-model="siteFilter" ng-click="cancel($event)" ng-focus="cancel($event)" ng-change="filter()" type="text" placeholder="Search by name" class="search input-xs ng-pristine ng-valid" style="width: 90%; border: 1px solid lightgrey; margin: 0 5px 5px 5px;">
            <div style="border-top: 1px solid lightgrey; border-bottom: 1px solid lightgrey; padding-left: 5px;">
                Sort By:
                <a ng-click="toggleSortDirection($event, 'friendly_name')" style="margin-left: 5px;">
                    Name
                    <i class="{{sortIcons.friendly_name}}"></i>
                </a>
                <a ng-click="toggleSortDirection($event, 'city')" style="margin-left: 5px;">
                    City
                    <i class="{{sortIcons.city}}"></i>
                </a>
                <a ng-click="toggleSortDirection($event, 'state')" style="margin-left: 5px;">
                    State
                    <i class="{{sortIcons.state}}"></i>
                </a>
                <a ng-click="toggleSortDirection($event, 'zip')" style="margin-left: 5px;">
                    Zip
                    <i class="{{sortIcons.zip}}"></i>
                </a>
            </div>
        </div>
        <div class="scrollable">
               <div class="pbx-account" ng-repeat="site in filteredSites" ng-class="siteClass('{{site}}')">
                <ul class="nav nav-pills nav-stacked">
                    <li id="site_{{site.site_id}}" class="page-actions" ng-class="selectedSite.site_id == site.site_id ? 'active' : ''" >
                            <a class="delete-site" ng-click="deleteSite(site,sites)"><i class="icon-trash" ></i></a>
                            <a ng-click="selectSite(site)" ng-href="/index.html#/networks">
                                <h4 class="media-heading">{{site.friendly_name}}</h4>
                                <small>{{site.city}}, {{site.state}} {{site.zip}}</small>
                            </a>
                    </li>
                     </ul>
                </div>
           
        </div>
    </div>
</div>

<footer ng-controller="RefreshDataController">
    <div class="container-fluid">
        <div class="row-fluid">
            <div class="span12">
                <div class="status">
                    Data current as of <span ng-bind="lastRefreshed"></span>
                    <i class="icon-refresh" ng-click="refreshData()"></i>
                </div>
                <div class="copy">&copy; 2013 Jive Communications, Inc<a href="http://www.jive.com">jive.com</a></div>
            </div>
        </div>
    </div>
</footer>

<script src="config.js.jsp"></script>

<script src="lib/angular/angular.min.js"></script>
<script src="lib/angular/angular-resource.min.js"></script>
<script src="lib/angular/angular-route.min.js"></script>
<script src="lib/angular/angular-cookies.min.js"></script>
<script src="lib/angular-ext/ui-bootstrap-tpls-0.11.0.min.js"></script>
<script src="lib/angular-ext/ui-bootstrap-tpls-0.6.0.min.js"></script>
<script src="lib/jquery/jquery-1.10.2.min.js"></script>
<script src="lib/select2/select2.min.js"></script>
<script src="lib/jquery.sidr.min.js"></script>
<script src="lib/scripts.js"></script>
<script src="lib/moment.min.js"></script>
<script src="lib/jive.js"></script>
<script src="lib/pubsub.js"></script>
<script src="lib/lodash.js"></script>

<script src="js/app.js"></script>
<script src="js/appLib.js"></script>
<script src="js/directives/validators.js"></script>

<script src="js/filters.js"></script>
<script src="js/services/AppSettings.js"></script>
<script src="js/services/DialogService.js"></script>
<script src="js/services/NavigationService.js"></script>
<script src="js/services/MessagingService.js"></script>
<script src="js/services/NotificationService.js"></script>
<script src="js/services/ExceptionHandler.js"></script>

<script src="js/services/unifi/unifiLib.js"></script>
<script src="js/services/unifi/UnifiAccessPointService.js"></script>
<script src="js/services/unifi/UnifiAccessPointUserService.js"></script>
<script src="js/services/unifi/UnifiNetworkService.js"></script>
<script src="js/services/unifi/UnifiSiteSettingsService.js"></script>
<script src="js/services/unifi/UnifiSiteService.js"></script>
<script src="js/services/unifi/UnifiLoginService.js"></script>

<script src="js/services/jive/JiveLoginService.js"></script>

<script src="js/services/mock/MockAccessPointService.js"></script>
<script src="js/services/mock/MockAccessPointUserService.js"></script>
<script src="js/services/mock/MockNetworkService.js"></script>
<script src="js/services/mock/MockSiteSettingsService.js"></script>
<script src="js/services/mock/MockSiteService.js"></script>

<script src="js/controllers/MainMenuController.js"></script>
<script src="js/controllers/NotificationController.js"></script>
<script src="js/controllers/ConfirmDialogController.js"></script>
<script src="js/controllers/RefreshDataController.js"></script>

<script src="js/controllers/Oauth2Controller.js"></script>
<script src="js/controllers/AccessPointListController.js"></script>
<script src="js/controllers/AccessPointController.js"></script>
<script src="js/controllers/HelpController.js"></script>
<script src="js/controllers/LoginController.js"></script>
<script src="js/controllers/UsersController.js"></script>
<script src="js/controllers/UserController.js"></script>
<script src="js/controllers/NetworkController.js"></script>
<script src="js/controllers/NetworksController.js"></script>
<script src="js/controllers/ProfilesController.js"></script>
<script src="js/controllers/ProfileController.js"></script>
<script src="js/controllers/SiteSettingsController.js"></script>
<script src="js/controllers/SitesController.js"></script>
<script src="js/controllers/SiteController.js"></script>
<script src="js/controllers/ErrorController.js"></script>

</body>
</html>
