<div>
    <div class="modal-header">
        <h3>Jive Login</h3>
    </div>
    <ng-form ng-submit="login" class="form-horizontal">
    <div class="modal-body">
        <div class="modal-content">
                <div ng-show="showError" class="alert alert-error error-notification"><strong>Oops! We were unable to find a user with that login. Please try again.</strong></div>
                <div class="control-group">
                    <label for="inputEmail" class="control-label">Username</label>
                    <div class="controls">
                        <input type="text" id="inputEmail" ng-model="credentials.username" placeholder="Username"/>
                    </div>
                </div>
                <div class="control-group">
                    <label for="inputPassword" class="control-label">Password</label>
                    <div class="controls">
                        <input type="password" id="inputPassword" ng-model="credentials.password" placeholder="Password"/>
                    </div>
                </div>
        </div>
    </div>
    <div class="modal-footer">
        <input type="submit" ng-click="login()" class="btn" value="Sign in" />
    </div>
    </ng-form>
</div>