<div class="row-fluid page-title">
    <div class="span12">
        <h1 class="content-title" ng-show="!network.is_guest">{{isNew ? "Create New Network" : ("Manage: " + network.name) }}</h1>
        <h1 class="content-title" ng-show="network.is_guest">{{isNew ? "Create New Guest Network" : ("Manage: " + network.name) }}</h1>
        <ul class="crumbs" ng-show="network.is_guest">
            <li><a href="#/networks">Wireless Networks</a>
            </li>
            <li><a style="cursor:pointer;">{{isNew ? "Create New Guest Network" : ("Manage: " + network.name) }}</a>
            </li>
        </ul>
        <ul class="crumbs" ng-show="!network.is_guest">
            <li><a href="#/networks">Wireless Networks</a>
            </li>
            <li><a style="cursor:pointer;">{{isNew ? "Create New Network" : ("Manage: " + network.name) }}</a>
            </li>
        </ul>
    </div>
</div>
<div class="page-actions">
</div>
<div class="row-fluid">
    <div class="span12">
        <div class="content">
            <p>Changes to this page will cause each Access Point to provision. See status of Access Points on <a href="#/devices">here</a>
            </p>
            <div class="row-fluid">
                <div class="span3 control-group">
                    <div class="controls">
                        <label class="checkbox" style="display: inline-block; margin-left:20px">
                            <input type="checkbox" ng-click="guest()" ng-model="network.is_guest">Guest Network</label>
                    </div>
                </div>
                <div class="span3"></div>
                <div class="button-actions">
                    <ul>
                        <li><a style="7px 10px" ng-show="network.is_guest" ng-click="redirect('guest')"><i class="icon-pencil"></i>Edit AP Group Guest Settings</a>
                        </li>
                    </ul>
                </div>
            </div>
            <!--  <div class="row-fluid">
                <div class="span3 control-group">
                    <div class="controls">
                        <label class="checkbox" style="display: inline-block; margin-left:20px">
                            <input type="checkbox" ng-model="network.zeroHandoff2G">Zero Handoff 2G</label>
                    </div>
                    <div class="controls" style="display: inline-block; margin-left:20px" ng-show="network.zeroHandoff2G">
                        <select name="2GChannel" ng-model="network.zeroHandoff2G.channel" ng-required="network.zeroHandoff2G">
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                            <option value="6">6</option>
                            <option value="7">7</option>
                            <option value="8">8</option>
                            <option value="9">9</option>
                            <option value="10">10</option>
                            <option value="11">11</option>
                        </select>
                        <div ng-show="form.zeroHandoff2G.channel.$error.required" class="tip help">Please select a channel</div>
                    </div>

                </div>
            </div> -->
            <!-- <div class="row-fluid">
                <div class="span3 control-group">
                    <div class="controls">
                        <label class="radio" style="display: inline-block; margin-left:20px">
                            <input type="radio" ng-model="network.zeroHandoff2G" ng-value="true">Zero Handoff 2G
                        </label>
                        <label class="radio" style="display: inline-block; margin-left:20px">
                            <input type="radio" ng-model="network.zeroHandoff2G" ng-value="false">Zero Handoff 5G
                        </label>
                    </div>
                    <div class="controls" style="display: inline-block; margin-left:20px" ng-show="network.zeroHandoff5G">
                        <select name="2GChannel" ng-model="network.zeroHandoff5G.channel" ng-required="network.zeroHandoff5G">
                            <option value="36">36</option>
                            <option value="40">40</option>
                            <option value="44">44</option>
                            <option value="48">48</option>
                            <option value="52">52(dfs)</option>
                            <option value="56">56(dfs)</option>
                            <option value="60">60(dfs)</option>
                            <option value="64">64(dfs)</option>
                            <option value="100">100(dfs)</option>
                            <option value="104">104(dfs)</option>
                            <option value="108">108(dfs)</option>
                            <option value="112">112(dfs)</option>
                            <option value="116">116(dfs)</option>
                            <option value="132">132(dfs)</option>
                            <option value="140">140(dfs)</option>
                            <option value="149">149</option>
                            <option value="153">153</option>
                            <option value="157">157</option>
                            <option value="161">161</option>
                            <option value="165">165</option>
                        </select>
                        <div ng-show="form.zeroHandoff5G.channel.$error.required" class="tip help">Please select a channel</div>
                    </div>
                </div>
            </div> -->
            <div class="container-fluid">
                <div class="row-fluid" ng-show="activeItem == 'Configuration'">
                    <div class="span12">
                        <ul class="nav nav-tabs">
                            <li ng-class="activeSubItem == 'Basic' ? 'active' : form.name.$invalid ? 'error' : '' ||
                                form.wepKey.$invalid ? 'error' : '' ||
                                form.wepIdx.$invalid ? 'error' : '' ||
                                form.wpapskKey.$invalid ? 'error' : '' ||
                                form.wpaeapIP.$invalid ? 'error' : '' ||
                                form.wpaeapPort.$invalid ? 'error' : '' ||
                                form.wpaeapPass.$invalid ? 'error' : ''"><a ng-click="activeSubItem = 'Basic'">Basic</a>
                            </li>
                            <li ng-class="activeSubItem == 'Advanced' ? 'active' : form.vlan.$invalid ? 'error' : ''"><a ng-click="activeSubItem = 'Advanced'">Advanced</a>
                            </li>
                        </ul>
                        <div ng-show="activeSubItem=='Basic'" style="margin-left: 0px;">
                            <div ng-class="network.is_guest ? 'span6' : ''">
                                <h3 style="margin-top: 0px;">Basic Settings</h3>
                                <p>Configure the settings for this network. Depending on the settings choosen, additional tabs/options will become available for further configuration.</p>
                            </div>
                            <div ng-show="network.is_guest" class="span6" style="color:#aaa">
                                <h3 style="margin-top: 0px;">Guest Settings</h3>
                                <p>The guest settings for this and all guest networks. Change guest network settings <b><a ng-href="#/settings">here</a></b>
                                </p>
                            </div>
                        </div>
                        <div ng-show="activeSubItem=='Advanced'">
                            <h3>Advanced Settings</h3>
                            <p>Configure the advanced settings for this network.</p>
                        </div>
                        <div class="row-fluid">
                            <div class="span12">
                                <form name="form" class="form-horizontal" novalidate>
                                    <div class="field-section" ng-show="activeSubItem=='Basic'">
                                        <div class="row-fluid">
                                            <div ng-class="network.is_guest ? 'span6' : 'span8 offset2'">
                                                <div class="control-group" ng-class="form.name.$invalid ? 'error' : ''">
                                                    <label for="name" class="control-label">
                                                        Network name (SSID)<i class="icon-asterisk required"></i>
                                                    </label>
                                                    <div class="controls">
                                                        <input type="text" id="name" name="name" placeholder="Provide a name..." ng-model="network.name" required>
                                                        <i ng-hide="form.name.$error.required" class="icon-ok-sign active"></i>
                                                        <div ng-show="form.name.$error.required" class="tip help">Name is required</div>
                                                    </div>
                                                </div>

                                                <div class="control-group">
                                                    <div class="control-label">Broadcast SSID</div>
                                                    <div class="controls">
                                                        <label class="radio">
                                                            <input type="radio" ng-model="network.hide_ssid" ng-value="false">Enabled
                                                        </label>
                                                        <label class="radio">
                                                            <input type="radio" ng-model="network.hide_ssid" ng-value="true">Disabled
                                                        </label>
                                                    </div>
                                                </div>
                                                <div class="control-group">
                                                    <div class="control-label">Status</div>
                                                    <div class="controls">
                                                        <label class="radio">
                                                            <input type="radio" ng-model="network.enabled" ng-value="true">Enabled
                                                        </label>
                                                        <label class="radio">
                                                            <input type="radio" ng-model="network.enabled" ng-value="false">Disabled
                                                        </label>
                                                    </div>
                                                </div>
                                                <div ng-style="{ color: getColor()}" class="control-group">
                                                    <div class="control-label">Security</div>
                                                    <div class="controls">
                                                        <label class="radio">
                                                            <input type="radio" ng-model="network.security" ng-disabled="network.is_guest" value="open">Open
                                                        </label>
                                                        <label class="radio">
                                                            <input type="radio" ng-model="network.security" ng-disabled="network.is_guest" value="wep">WEP
                                                        </label>
                                                        <label class="radio">
                                                            <input type="radio" ng-model="network.security" ng-disabled="network.is_guest" value="wpapsk">WPA-Personal
                                                        </label>
                                                        <label class="radio">
                                                            <input type="radio" ng-model="network.security" value="wpaeap">WPA-Enterprise
                                                        </label>
                                                    </div>
                                                </div>
                                                <div class="control-group" ng-show="network.security == 'wep'" ng-class="form.wepKey.$invalid ? 'error' : ''">
                                                    <div class="control-label">WEP Key</div>
                                                    <div class="controls">
                                                        <input type="{{ showWepPassword ? 'text' : 'password' }}" id="wepKey" name="wepKey" ng-model="network.x_wep" ng-required="network.security == 'wep'" ng-minlength="8" />
                                                        <label class="checkbox" style="display: inline-block;">
                                                            <input type="checkbox" ng-model="showWepPassword">Show Password</label>
                                                        <i ng-hide="form.wepKey.$invalid" class="icon-ok-sign active"></i>
                                                        <div ng-show="form.wepKey.$invalid" class="tip help">Please provide a passkey of at least length 8</div>
                                                    </div>
                                                </div>
                                                <div class="control-group" ng-show="network.security == 'wep'" ng-class="form.wepIdx.$invalid ? 'error' : ''">
                                                    <div class="control-label">WEP Key Index</div>
                                                    <div class="controls">
                                                        <select name="wepIdx" ng-model="network.wep_idx" ng-required="network.security == 'wep'">
                                                            <option value="1">1</option>
                                                            <option value="2">2</option>
                                                            <option value="3">3</option>
                                                            <option value="4">4</option>
                                                        </select>
                                                        <i ng-hide="form.wepIdx.$error.required" class="icon-ok-sign active"></i>
                                                        <div ng-show="form.wepIdx.$error.required" class="tip help">A key index is required</div>
                                                    </div>
                                                </div>
                                                <div class="control-group" ng-show="network.security == 'wpapsk'" ng-class="form.wpapskKey.$invalid ? 'error' : ''">
                                                    <div class="control-label">Security Key</div>
                                                    <div class="controls">
                                                        <input type="{{ showWpapPassword ? 'text' : 'password' }}" id="wpapskKey" name="wpapskKey" ng-model="network.x_passphrase" ng-required="network.security == 'wpapsk'" ng-minlength="8" />
                                                        <label class="checkbox" style="display: inline-block;">
                                                            <input type="checkbox" ng-model="showWpapPassword">Show Password</label>
                                                        <i ng-hide="form.wpapskKey.$invalid" class="icon-ok-sign active"></i>
                                                        <div ng-show="form.wpapskKey.$invalid" class="tip help">Please provide a passkey of at least length 8</div>
                                                    </div>
                                                </div>
                                                <div class="control-group" ng-show="network.security == 'wpaeap'" ng-class="form.wpaeapIP.$invalid ? 'error' : ''">
                                                    <div class="control-label">RADIUS Server IP</div>
                                                    <div class="controls">
                                                        <input type="text" id="wpaeapIP" name="wpaeapIP" ng-model="network.radius_ip_1" ng-required="network.security == 'wpaeap'" valid-ip />
                                                        <i ng-hide="form.wpaeapIP.$invalid" class="icon-ok-sign active"></i>
                                                        <div ng-show="form.wpaeapIP.$invalid" class="tip help">Please provide a valid IP address</div>
                                                    </div>
                                                </div>
                                                <div class="control-group" ng-show="network.security == 'wpaeap'" ng-class="form.wpaeapPort.$invalid ? 'error' : ''">
                                                    <div class="control-label">RADIUS Server Port</div>
                                                    <div class="controls">
                                                        <input type="number" id="wpaeapPort" name="wpaeapPort" ng-model="network.radius_port_1" ng-required="network.security == 'wpaeap'" ng-pattern="/[\d]/" />
                                                        <i ng-hide="form.wpaeapPort.$invalid" class="icon-ok-sign active"></i>
                                                        <div ng-show="form.wpaeapPort.$invalid" class="tip help">Please provide a valid port number</div>
                                                    </div>
                                                </div>
                                                <div class="control-group" ng-show="network.security == 'wpaeap'" ng-class="form.wpaeapPass.$invalid ? 'error' : ''">
                                                    <div class="control-label">Security Key</div>
                                                    <div class="controls">
                                                        <input type="{{ showWpaePassword ? 'text' : 'password' }}" id="wpaeapPass" name="wpaeapPass" ng-model="network.x_radius_secret_1" ng-required="network.security == 'wpaeap'" ng-minlength="8" />
                                                        <label class="checkbox" style="display: inline-block;">
                                                            <input type="checkbox" ng-model="showWpaePassword">Show Password</label>
                                                        <i ng-hide="form.wpaeapPass.$invalid" class="icon-ok-sign active"></i>
                                                        <div ng-show="form.wpaeapPass.$invalid" class="tip help">Please provide a passkey of at least length 8</div>
                                                    </div>
                                                </div>
                                                <div class="control-group">
                                                    <div class="control-label">Zero Handoff</div>
                                                    <div class="controls">
                                                        <label class="radio">
                                                            <input type="radio" ng-model="network.zeroHandoff" ng-value="true">Enabled
                                                        </label>
                                                        <label class="radio">
                                                            <input type="radio" ng-model="network.zeroHandoff" ng-value="false">Disabled
                                                        </label>
                                                    </div>
                                                </div>
                                                <div class="control-group" ng-show="network.zeroHandoff" ng-class="form.zeroHandoffRadio.$invalid ? 'error' : ''">
                                                    <div class="control-label">Radio</div>
                                                    <div class="controls">
                                                        <select name="zeroHandoffRadio" ng-model="network.zeroHandoffRadio" ng-required="network.zeroHandoff">
                                                            <option value="2G">2G</option>
                                                            <option value="5G">5G</option>
                                                        </select>
                                                        <i ng-hide="form.zeroHandoffRadio.$error.required"></i>
                                                        <div ng-show="form.zeroHandoffRadio.$error.required" class="tip help">A radio is required</div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="span6">
                                                <div class="field-section" style="color:#aaa" ng-show="network.is_guest">
                                                    <div class="control-group">
                                                        <div class="control-label">
                                                            Authentication
                                                        </div>
                                                        <div class="controls">
                                                            <label class="radio">
                                                                <input disabled type="radio" ng-model="guestSettings.auth" value="none">No authentication and Terms and Conditions
                                                            </label>
                                                            <label class="radio">
                                                                <input disabled type="radio" ng-model="guestSettings.auth" value="password">Simple Password and Terms and Conditions
                                                            </label>
                                                        </div>
                                                    </div>
                                                    <div class="control-group" ng-show="guestSettings.auth == 'custom'">
                                                        <div class="control-label">IP Address:</div>
                                                        <div class="controls">
                                                            <input disabled style="color: #aaa" type="text" ng-model="guestSettings.custom_ip" valid-ip/>
                                                        </div>
                                                    </div>
                                                    <div class="control-group" ng-show="guestSettings.auth == 'password'">
                                                        <div class="control-label">Company Name:</div>
                                                        <div class="controls">
                                                            <input disabled style="color: #aaa" type="text" ng-model="guestSettings.companyName" />
                                                        </div>
                                                    </div>
                                                    <div class="control-group" ng-show="guestSettings.auth == 'password'">
                                                        <div class="control-label">Terms and Conditions:</div>
                                                        <div class="controls">
                                                            <textarea disabled style="color: #aaa" type="text" ng-model="guestSettings.terms"></textarea>
                                                        </div>
                                                    </div>
                                                    <div class="control-group" ng-show="guestSettings.auth == 'password' || guestSettings.auth == 'none'">
                                                        <div class="control-label">Expiration</div>
                                                        <div class="controls">
                                                            <select disabled style="color: #aaa" name="expire" ng-model="guestSettings.expire" ng-required="guestSettings.auth == 'password' || guestSettings.auth == 'none'">
                                                                <option value="480">8 hours</option>
                                                                <option value="1440">24 hours</option>
                                                                <option value="2880">2 days</option>
                                                                <option value="4320">3 days</option>
                                                                <option value="5760">4 days</option>
                                                                <option value="10080">7 days</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                    <div class="control-group">
                                                        <div class="control-label">Landing Page</div>
                                                        <div class="controls">
                                                            <label class="radio">
                                                                <input disabled type="radio" ng-model="guestSettings.redirect_enabled" ng-value="false">Redirect to the original URL
                                                            </label>
                                                            <label class="radio">
                                                                <input disabled type="radio" ng-model="guestSettings.redirect_enabled" ng-value="true">Redirect to promotional URL
                                                            </label>
                                                        </div>
                                                    </div>
                                                    <div class="control-group" ng-show="guestSettings.redirect_enabled">
                                                        <div class="control-label">Promotional URL</div>
                                                        <div class="controls">
                                                            <input disabled style="color: #aaa" type="text" ng-model="guestSettings.redirect_url" />
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="field-section" class="offset2" ng-show="activeSubItem=='Advanced'">
                                        <div class="span8 offset2">
                                            <div class="control-group">
                                                <label for="name" class="control-label">VLAN</label>
                                                <div class="controls">
                                                    <input type="checkbox" id="vlanEnabled" name="vlanEnabled" ng-model="network.vlan_enabled" ng-value="true" />
                                                </div>
                                            </div>
                                            <div class="control-group" ng-class="form.vlan.$invalid ? 'error' : ''">
                                                <label for="name" class="control-label">VLAN ID</label>
                                                <div class="controls">
                                                    <input type="number" id="vlan" name="vlan" ng-model="network.vlan" ng-value="network.vlan" ng-required="network.vlan_enabled" ng-disabled="!network.vlan_enabled" min=2 max=4095 />
                                                    <i ng-hide="form.vlan.$invalid || !network.vlan_enabled" class="icon-ok-sign active"></i>
                                                    <div ng-show="form.vlan.$invalid" class="tip help">Please provide a number between 2-4095</div>
                                                </div>
                                            </div>
                                            <div class="control-group" ng-show="network.security == 'wpapsk' || network.security == 'wpaeap'">
                                                <div class="control-label">WPA Mode</div>
                                                <div class="controls">
                                                    <label class="radio">
                                                        <input type="radio" ng-model="network.wpa_mode" value="auto">Both
                                                    </label>
                                                    <label class="radio">
                                                        <input type="radio" ng-model="network.wpa_mode" value="wpa1">WPA1 Only
                                                    </label>
                                                    <label class="radio">
                                                        <input type="radio" ng-model="network.wpa_mode" value="wpa2">WPA2 Only
                                                    </label>
                                                </div>
                                            </div>
                                            <div class="control-group" ng-show="network.security == 'wpapsk' || network.security == 'wpaeap'">
                                                <div class="control-label">WPA Encryption</div>
                                                <div class="controls">
                                                    <label class="radio">
                                                        <input type="radio" ng-model="network.wpa_enc" value="auto">Auto
                                                    </label>
                                                    <label class="radio">
                                                        <input type="radio" ng-model="network.wpa_enc" value="tkip">TKIP Only
                                                    </label>
                                                    <label class="radio">
                                                        <input type="radio" ng-model="network.wpa_enc" value="ccmp">AES/CCMP Only
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="update-controls" ng-show="isNew || isDirty()">
        <button class="btn btn-primary" ng-disabled="form.$invalid" ng-click="update()">{{isNew ? "Create" : "Update"}}</button>
        <button class="btn btn-link clear-form" ng-hide="isNew" ng-click="reset()">Discard Changes</button>
    </div>
</div>