<div class="row-fluid page-title">
    <div class="span12">
        <h1 class="content-title" ng-show="!network.is_guest">{{isNew ? "Create New Network" : ("Manage " + network.name) }} </h1>
        <h1 class="content-title" ng-show="network.is_guest">{{isNew ? "Create New Guest Network" : ("Manage " + network.name) }} </h1>
        <ul class="crumbs" ng-show="network.is_guest">
            <li><a href="#/networks">Wireless Networks</a></li>
            <li><a style="cursor:pointer;">{{isNew ? "Create New Guest Network" : ("Manage " + network.name) }}</a></li>
        </ul>
        <ul class="crumbs" ng-show="!network.is_guest">
            <li><a href="#/networks">Wireless Networks</a></li>
            <li><a style="cursor:pointer;">{{isNew ? "Create New Network" : ("Manage " + network.name) }}</a></li>
        </ul>
    </div>
</div>
<div class="page-actions">
    
</div>
<div class="row-fluid">
    <div class="span12">
        <div class="content">
            <div class="control-group">
              <div class="controls">
                <label class="checkbox" style="display: inline-block;"><input type="checkbox" ng-model="network.is_guest">Guest Network</label>
                <div ng-hide="!network.is_guest">Guest Settings for all networks are in the Site Settings tab <a href="#/settings">here</a></div>
              </div>
             </div>
            <div class="container-fluid"> 
                <div class="row-fluid" ng-show="activeItem == 'Configuration'">
                    <div class="span12">
                        <ul class="nav nav-tabs">
                            <li ng-class="activeSubItem == 'Basic' ? 'active' : form.name.$invalid ? 'error' : '' ||
                                                                                form.wepKey.$invalid ? 'error' : '' ||
                                                                                form.wepIdx.$invalid ? 'error' : '' ||
                                                                                form.wpapskKey.$invalid ? 'error' : '' ||
                                                                                form.wpaeapIP.$invalid ? 'error' : '' ||
                                                                                form.wpaeapPort.$invalid ? 'error' : '' ||
                                                                                form.wpaeapPass.$invalid ? 'error' : ''"><a ng-click="activeSubItem = 'Basic'">Basic</a></li>
                            <li ng-class="activeSubItem == 'Advanced' ? 'active' : form.vlan.$invalid ? 'error' : ''"><a ng-click="activeSubItem = 'Advanced'">Advanced</a></li>
                            <!-- <li ng-show="isGuest" ng-class="activeSubItem == 'Guest' ? 'active' : form.promoUrl.$invalid ? 'error' : '' || 
                                                                                                  form.guestPassword.$invalid ? 'error' : '' || 
                                                                                                  form.terms.$invalid ? 'error' : '' || 
                                                                                                  form.expire.$invalid ? 'error' : ''">
                                                                                                  <a ng-click="activeSubItem = 'Guest'">Guest Policies</a></li> -->
                        </ul>
                        <div ng-show="activeSubItem=='Basic'">
                            <h3>Basic Settings</h3>
                            <p>Configure the settings for this network. Depending on the settings choosen, additional tabs/options will become available for further configuration.</p>
                        </div>
                        <div ng-show="activeSubItem=='Advanced'">
                            <h3>Advanced Settings</h3>
                            <p>Configure the advanced settings for this network.</p>
                        </div>
                        <div ng-show="activeSubItem=='Guest'">
                            <h3>Guest Policies</h3>
                            <p></p>
                        </div>
                        <div class="row-fluid"><div class="span8 offset2">
                            <form name="form" class="form-horizontal" novalidate>
                                <div class="field-section" ng-show="activeSubItem=='Basic'">
                                    <div class="control-group" ng-class="form.name.$invalid ? 'error' : ''">
                                        <label for="name" class="control-label">
                                            Network name (SSID)<i class="icon-asterisk required"></i>
                                        </label>
                                        <div class="controls">
                                            <input type="text" id="name" name="name" placeholder="Provide a name..." ng-model="network.name" required>
                                            <i ng-hide="form.name.$error.required" class="icon-ok-sign active"></i>
                                            <div ng-show="form.name.$error.required" class="tip help">Name is required</div>
                                        </div>
                                    </div>
                                    
                                    <div class="control-group">
                                        <div class="control-label">Broadcast SSID</div>
                                        <div class="controls">
                                            <label class="radio">
                                                <input type="radio" ng-model="network.hide_ssid" ng-value="false">Enabled
                                            </label>
                                            <label class="radio">
                                                <input type="radio" ng-model="network.hide_ssid" ng-value="true">Disabled
                                            </label>
                                        </div>
                                    </div>
                                    <div class="control-group">
                                        <div class="control-label">Status</div>
                                        <div class="controls">
                                            <label class="radio">
                                                <input type="radio" ng-model="network.enabled" ng-value="true">Enabled
                                            </label>
                                            <label class="radio">
                                                <input type="radio" ng-model="network.enabled" ng-value="false">Disabled
                                            </label>
                                        </div>
                                    </div>
                                    <div class="control-group">
                                        <div class="control-label">Security</div>
                                        <div class="controls">
                                            <label class="radio">
                                                <input type="radio" ng-model="network.security" value="open">Open
                                            </label>
                                            <label class="radio">
                                                <input type="radio" ng-model="network.security" value="wep">WEP
                                            </label>
                                            <label class="radio">
                                                <input type="radio" ng-model="network.security" value="wpapsk">WPA-Personal
                                            </label>
                                            <label class="radio">
                                                <input type="radio" ng-model="network.security" value="wpaeap">WPA-Enterprise
                                            </label>
                                        </div>
                                    </div>
                                    <div class="control-group" ng-show="network.security == 'wep'" ng-class="form.wepKey.$invalid ? 'error' : ''">
                                        <div class="control-label">WEP Key</div>
                                        <div class="controls">
                                            <input type="{{ showWepPassword ? 'text' : 'password' }}" id="wepKey" name="wepKey" ng-model="network.x_wep" ng-required="network.security == 'wep'" ng-minlength="8" />
                                            <label class="checkbox" style="display: inline-block;"><input type="checkbox" ng-model="showWepPassword">Show Password</label>
                                            <i ng-hide="form.wepKey.$invalid" class="icon-ok-sign active"></i>
                                            <div ng-show="form.wepKey.$invalid" class="tip help">Please provide a passkey of at least length 8</div>
                                        </div>
                                    </div>
                                    <div class="control-group" ng-show="network.security == 'wep'" ng-class="form.wepIdx.$invalid ? 'error' : ''">
                                        <div class="control-label">WEP Key Index</div>
                                        <div class="controls">
                                            <select name="wepIdx" ng-model="network.wep_idx" ng-required="network.security == 'wep'">
                                                <option value="1">1</option>
                                                <option value="2">2</option>
                                                <option value="3">3</option>
                                                <option value="4">4</option>
                                            </select>
                                            <i ng-hide="form.wepIdx.$error.required" class="icon-ok-sign active"></i>
                                            <div ng-show="form.wepIdx.$error.required" class="tip help">A key index is required</div>
                                        </div>
                                    </div>
                                    <div class="control-group" ng-show="network.security == 'wpapsk'" ng-class="form.wpapskKey.$invalid ? 'error' : ''">
                                        <div class="control-label">Security Key</div>
                                        <div class="controls">
                                            <input type="{{ showWpapPassword ? 'text' : 'password' }}" id="wpapskKey" name="wpapskKey" ng-model="network.x_passphrase" ng-required="network.security == 'wpapsk'" ng-minlength="8" />
                                            <label class="checkbox" style="display: inline-block;"><input type="checkbox" ng-model="showWpapPassword">Show Password</label>
                                            <i ng-hide="form.wpapskKey.$invalid" class="icon-ok-sign active"></i>
                                            <div ng-show="form.wpapskKey.$invalid" class="tip help">Please provide a passkey of at least length 8</div>
                                        </div>
                                    </div>
                                    <div class="control-group" ng-show="network.security == 'wpaeap'" ng-class="form.wpaeapIP.$invalid ? 'error' : ''">
                                        <div class="control-label">RADIUS Server IP</div>
                                        <div class="controls">
                                            <input type="text" id="wpaeapIP" name="wpaeapIP" ng-model="network.radius_ip_1" ng-required="network.security == 'wpaeap'" valid-ip />
                                            <i ng-hide="form.wpaeapIP.$invalid" class="icon-ok-sign active"></i>
                                            <div ng-show="form.wpaeapIP.$invalid" class="tip help">Please provide a valid IP address</div>
                                        </div>
                                    </div>
                                    <div class="control-group" ng-show="network.security == 'wpaeap'" ng-class="form.wpaeapPort.$invalid ? 'error' : ''">
                                        <div class="control-label">RADIUS Server Port</div>
                                        <div class="controls">
                                            <input type="number" id="wpaeapPort" name="wpaeapPort" ng-model="network.radius_port_1" ng-required="network.security == 'wpaeap'" ng-pattern="/[\d]/" />
                                            <i ng-hide="form.wpaeapPort.$invalid" class="icon-ok-sign active"></i>
                                            <div ng-show="form.wpaeapPort.$invalid" class="tip help">Please provide a valid port number</div>
                                        </div>
                                    </div>
                                    <div class="control-group" ng-show="network.security == 'wpaeap'" ng-class="form.wpaeapPass.$invalid ? 'error' : ''">
                                        <div class="control-label">Security Key</div>
                                        <div class="controls">
                                            <input type="{{ showWpaePassword ? 'text' : 'password' }}" id="wpaeapPass" name="wpaeapPass" ng-model="network.x_radius_secret_1" ng-required="network.security == 'wpaeap'" ng-minlength="8" />
                                            <label class="checkbox" style="display: inline-block;"><input type="checkbox" ng-model="showWpaePassword">Show Password</label>
                                            <i ng-hide="form.wpaeapPass.$invalid" class="icon-ok-sign active"></i>
                                            <div ng-show="form.wpaeapPass.$invalid" class="tip help">Please provide a passkey of at least length 8</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="field-section" ng-show="activeSubItem=='Advanced'">
                                    <div class="control-group">
                                        <label for="name" class="control-label">VLAN</label>
                                        <div class="controls">
                                            <input type="checkbox" id="vlanEnabled" name="vlanEnabled" ng-model="network.vlan_enabled" ng-value="true"/>
                                        </div>
                                    </div>
                                    <div class="control-group" ng-class="form.vlan.$invalid ? 'error' : ''">
                                        <label for="name" class="control-label">VLAN ID</label>
                                        <div class="controls">
                                            <input type="number" id="vlan" name="vlan" ng-model="network.vlan" ng-value="network.vlan" ng-required="network.vlan_enabled" ng-disabled="!network.vlan_enabled" min=2 max=4095 />
                                            <i ng-hide="form.vlan.$invalid || !network.vlan_enabled" class="icon-ok-sign active"></i>
                                            <div ng-show="form.vlan.$invalid" class="tip help">Please provide a number between 2-4095</div>
                                        </div>
                                    </div>
                                    <div class="control-group" ng-show="network.security == 'wpapsk' || network.security == 'wpaeap'">
                                        <div class="control-label">WPA Mode</div>
                                        <div class="controls">
                                            <label class="radio">
                                                <input type="radio" ng-model="network.wpa_mode" value="auto">Both
                                            </label>
                                            <label class="radio">
                                                <input type="radio" ng-model="network.wpa_mode" value="wpa1">WPA1 Only
                                            </label>
                                            <label class="radio">
                                                <input type="radio" ng-model="network.wpa_mode" value="wpa2">WPA2 Only
                                            </label>
                                        </div>
                                    </div>
                                    <div class="control-group" ng-show="network.security == 'wpapsk' || network.security == 'wpaeap'">
                                        <div class="control-label">WPA Encryption</div>
                                        <div class="controls">
                                            <label class="radio">
                                                <input type="radio" ng-model="network.wpa_enc" value="auto">Auto
                                            </label>
                                            <label class="radio">
                                                <input type="radio" ng-model="network.wpa_enc" value="tkip">TKIP Only
                                            </label>
                                            <label class="radio">
                                                <input type="radio" ng-model="network.wpa_enc" value="ccmp">AES/CCMP Only
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="field-section" ng-show="activeSubItem=='Guest'">
                                    <div>
                                        <div class="control-group">
                                            <div class="control-label">
                                                Authentication
                                                <i class="icon-question-sign section-help" tooltip-placement="left" tooltip="If you already have your own hotspot authentication system, choose the [External Portal Server] option to defer to that system. Contact Jive Communications for more information on implementation details."></i>
                                            </div>
                                            <div class="controls">
                                                <label class="radio">
                                                    <input type="radio" ng-model=network.auth value="none">No authentication
                                                </label>
                                                <label class="radio">
                                                    <input type="radio" ng-model="network.auth" value="password">Simple Password
                                                </label>
                                               <!--  <label class="radio">
                                                    <input type="radio" ng-model="network.auth" value="custom">External Portal Server
                                                </label>--> 
                                                <label class="radio">
                                                    <input type="radio" ng-model="network.auth" value="tou">Custom Terms and Conditions
                                                </label>
                                            </div>
                                        </div>
                                        <div class="control-group" ng-class="form.custom_ip.$invalid ? 'error' : ''" ng-show="network.auth == 'custom'">
                                            <div class="control-label">IP Address:</div>
                                            <div class="controls">
                                                <input type="text" id="customIp" name="customIp" ng-model="network.custom_ip" ng-required="network.auth == 'custom'" valid-ip/>
                                                <i ng-hide="form.customIp.$invalid" class="icon-ok-sign active"></i>
                                                <div ng-show="form.customIp.$invalid" class="tip help">Please provide an IP Address</div>
                                            </div>
                                        </div>
                                        <div class="control-group" ng-show="network.auth == 'tou'">
                                            <div class="control-label">Company Name:</div>
                                            <div class="controls">
                                                <input type="text" id="companyName" name="companyName" ng-model="network.companyName"/>
                                            </div>
                                        </div>
                                        <div class="control-group" ng-show="network.auth == 'tou'">
                                            <div class="control-label">Terms and Conditions:</div>
                                            <div class="controls">
                                                <textarea type="text" id="terms" name="terms" ng-model="network.terms" ng-required="network.auth == 'tou'"></textarea>
                                                <div ng-show="form.terms.$invalid" class="tip help">Please provide the terms and conditions</div>
                                            </div>
                                        </div>
                                        <div class="control-group" ng-class="form.guestPassword.$invalid ? 'error' : ''" ng-show="network.auth == 'password'">
                                            <div class="control-label">Password</div>
                                            <div class="controls">
                                                <input type="{{ showPassword ? 'text' : 'password' }}" id="guestPassword" name="guestPassword" ng-model="network.x_password" ng-required="network.auth == 'password'"/>
                                                <label class="checkbox" style="display: inline-block;"><input type="checkbox" ng-model="showPassword">Show Password</label>
                                                <i ng-hide="form.guestPassword.$invalid" class="icon-ok-sign active"></i>
                                                <div ng-show="form.guestPassword.$invalid" class="tip help">Please provide a password</div>
                                            </div>
                                        </div>
                                        <div class="control-group" ng-show="network.auth == 'password' || network.auth == 'none'" ng-class="form.expire.$invalid ? 'error' : ''">
                                            <div class="control-label">Expiration</div>
                                            <div class="controls">
                                                <select name="expire" ng-model="network.expire" ng-required="network.auth == 'password' || network.auth == 'none'">
                                                    <option value="480">8 hours</option>
                                                    <option value="1440">24 hours</option>
                                                    <option value="2880">2 days</option>
                                                    <option value="4320">3 days</option>
                                                    <option value="5760">4 days</option>
                                                    <option value="10080">7 days</option>
                                                </select>
                                                <i ng-hide="form.expire.$error.required" class="icon-ok-sign active"></i>
                                                <div ng-show="form.expire.$error.required" class="tip help">Please select an expiration period</div>
                                            </div>
                                        </div>
                                        <div class="control-group">
                                            <div class="control-label">Landing Page</div>
                                            <div class="controls">
                                                <label class="radio">
                                                    <input type="radio" ng-model="network.redirect_enabled" ng-value="false">Redirect to the original URL
                                                </label>
                                                <label class="radio">
                                                    <input type="radio" ng-model="network.redirect_enabled" ng-value="true">Redirect to promotional URL
                                                </label>
                                            </div>
                                        </div>
                                        <div class="control-group" ng-class="form.promoUrl.$invalid ? 'error' : ''" ng-show="network.redirect_enabled">
                                            <div class="control-label">Promotional URL</div>
                                            <div class="controls">
                                                <input type="text" id="promoUrl" name="promoUrl" ng-model="network.redirect_url" ng-required="network.redirect_enabled"/>
                                                <i ng-hide="form.promoUrl.$invalid" class="icon-ok-sign active"></i>
                                                <div ng-show="form.promoUrl.$invalid" class="tip help">Please provide a url</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="update-controls" ng-show="isNew || isDirty()">
        <button class="btn btn-primary" ng-disabled="form.$invalid" ng-click="update()">{{isNew ? "Create" : "Update"}}</button>
        <button class="btn btn-link clear-form" ng-hide="isNew" ng-click="reset()">Discard Changes</button>
    </div>
</div>