<div class="row-fluid page-title">
    <div class="span12">
        <h1 class="content-title">Create A New AP Group </h1>
        <ul class="crumbs">
            <li class="active"><a style="cursor:pointer;">New AP Group</a></li>
        </ul>
    </div>
</div>
<div class="page-actions">
</div>
<div class="content">
    <div class="container-fluid">
        <div class="row-fluid">
            <div class="span12">
                <div class="row-fluid">
                    <div class="span8 offset2">
                        <form name="form" class="form-horizontal" novalidate>
                            
                            <div class="field-section">
                                <div class="control-group" ng-class="form.name.$invalid ? 'error' : ''">
                                    <label for="friendly_name" class="control-label">
                                        AP Group Name<i class="icon-asterisk required"></i>
                                    </label>
                                    <div class="controls">
                                        <input type="text" id="friendly_name" name="friendly_name" placeholder="Provide a name..." ng-model="site.friendly_name" required>
                                        <i ng-hide="form.friendly_name.$error.required" class="icon-ok-sign active"></i>
                                        <div ng-show="form.friendly_name.$error.required" class="tip help">Name is required</div>
                                    </div>
                                </div>
                                <div class="control-group" ng-class="form.alert_email.$invalid ? 'error' : ''">
                                    <label for="alert_email" class="control-label">
                                        Email for Alerts<i class="icon-asterisk required"></i>
                                    </label>
                                    <div class="controls">
                                        <input type="text" id="alert_email" name="alert_email" placeholder="Provide an email address..." ng-model="site.alert_email" required pattern="email">
                                        <i ng-hide="form.alert_email.$error.required" class="icon-ok-sign active"></i>
                                        <div ng-show="form.alert_email.$error.required" class="tip help">An email is required</div>
                                    </div>
                                </div>
                               <!--  <div class="control-group">
                                    <label for="address" class="control-label">Account Number</label>
                                    <div class="controls">
                                        <input type="text" id="account" name="account" placeholder="Provide an account number..." ng-model="site.account">
                                    </div>
                                </div> -->
                                <div class="control-group">
                                    <label for="address" class="control-label">Address</label>
                                    <div class="controls">
                                        <input type="text" id="address" name="address" placeholder="Provide an address..." ng-model="site.address1">
                                    </div>
                                </div>
                                <div class="control-group">
                                    <label for="city" class="control-label">City</label>
                                    <div class="controls">
                                        <input type="text" id="city" name="city" placeholder="Provide a city..." capitalize-first ng-model="site.city">
                                    </div>
                                </div>
                                <div class="control-group">
                                    <label for="state" class="control-label">State</label>
                                    <div class="controls">
                                        <input type="text" id="state" name="state" placeholder="Provide a state..." capitalize-state ng-model="site.state">
                                    </div>
                                </div>
                                <div class="control-group">
                                    <label for="zip" class="control-label">Zip</label>
                                    <div class="controls">
                                        <input type="text" id="zip" name="zip" placeholder="Provide a zip..." ng-model="site.zip">
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="update-controls" ng-show="isDirty()">
        <button class="btn btn-primary" ng-click="create()">Create</button>
    </div>
</div>