<div class="row-fluid page-title">
    <div class="span12">
        <h1 class="content-title">Location Access Points </h1>
        <ul class="crumbs">
            <li><a href="#/devices">Access Points</a></li>
            <li><a style="cursor:pointer;">Manage {{originalSite.friendly_name}}</a></li>
        </ul>
    </div>
</div>
<div class="page-actions">
</div>
<div class="row-fluid">
    <div class="span12">
        <div class="content">
            <div class="container-fluid">
                <div class="row-fluid">
                    <div class="span12">
                            <h2>Location Access Point MACs</h2>
                            <p>Provide the list of device MACs for this Location. Provide each on their own line.</p>
                        <div class="row-fluid">
                            <div class="span8 offset2">
                                <form name="form" class="form-horizontal" novalidate>
                                    
                                    <div class="field-section">
                                        <div class="control-group">
                                            <label for="macs" class="control-label">
                                                <div class="tip help">add each MAC address on a seperate line including <b>: </b>'s</div>
                                            </label>
                                            <div class="controls">
                                                <textarea id="macs" placeholder="Provide macs..." ng-model="site.macs" rows="15"></textarea>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="update-controls" ng-show="isDirty()">
        <button class="btn btn-primary" ng-disabled="form.$invalid" ng-click="updateMac()">Add</button>
        <button class="btn btn-link clear-form" ng-click="reset()">Discard Changes</button>
    </div>
</div>