<div class="row-fluid page-title">
    <div class="span12">
        <h1 class="content-title">Manage Users</h1>
        <ul class="breadcrumb">
            <li><a href="#/">Devices</a><span class="divider">/</span></li>
            <li class="active"><a href="#">Users</a></li>
        </ul>
    </div>
</div>
<div class="row-fluid">
    <div class="span12">
        <div class="page-actions"></div>
    </div>
</div>

</div><div class="row-fluid">
    <div class="span12"><h4>Coming Soon....</h4></div>
</div>